@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

@layer base {
  /* Color Variables */
  :root {
    --color-primary: #0C1A58;
    --color-primary-hover: rgba(12, 26, 88, 0.9);
    --color-primary-bg: #EEF3FF; /* 연한 파란색 배경 */
    --color-lavender: #E6E6FA; /* 연한 보라색 */
    --color-light-gray: #D9D9D9; /* 밝은 회색 */
    --color-medium-gray: #9E9E9E; /* 중간 회색 */
    --color-white: #ffffff;
    --color-black-50: rgba(0, 0, 0, 0.5); /* 반투명 검정 */

    /* Font Size Variables */
    --text-xs: 8px;
    --text-sm: 10px;
    --text-md: 12px;
    --text-base: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 20px;
    --text-3xl: 24px;

    /* Font Family Variables */
    --font-calendar-number: 'Inria Serif', serif;
    --letter-spacing-calendar: -2px;
    --letter-spacing-year: 0px;
  }

  /* Font 설정 */
  body {
    @apply antialiased;
  }
}
